:root {
    --font: 26px;
    --text: #f6bf53;
    --background: #092a27;
    --background_lines: #0d3633;
    --primary: #3ce5ab;
    --secondary: #a04dcb;
    --accent: #3cb1c8;

    --blinking_cursor: var(--text);
}

* {
    margin: 0;
    padding: 0;
    font: var(--font) monospace;
    cursor: default;
}

*:hover {
    cursor: default;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
            to bottom,
            var(--background_lines),
            var(--background) 30%
    );
    background-size: 100% 20px;
    box-shadow: inset 0 0 1.5rem 1.5rem black;
    overflow: hidden;
    line-height: 24px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#content {
    margin: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

p {
    color: var(--text);
    padding: 0 4rem;
}

p span {
    color: var(--secondary);
}

p a {
    color: var(--secondary);
    text-decoration: none;
    transition: 250ms linear;
}

p a:hover {
    cursor: pointer;
    text-decoration: underline;
}

p a:active {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(80%);
}

list {
    all: unset;
}

input {
    all: unset;
    color: var(--text);
    caret-color: transparent;
    width: 0;
    margin-left: 0.5rem;
}

#input_line {
    margin-left: 4rem;
    padding: 0;
    display: flex;
    align-items: center;
}

#input_line::after {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 26px;
    background: var(--blinking_cursor);
    z-index: 10;
}

label  {
    color: var(--primary);
    animation: none;
}

.blinking_pointer {
    color: var(--text);
    padding: 0;
    animation: blinking 400ms ease-in-out infinite;
}

@keyframes blinking {
    0% {opacity: 0.2}
    50% {opacity: 1}
    100% {opacity: 0.2}
}

h1 {
    text-align: center;
    animation: glowing 3s ease-in-out infinite;
    color: var(--text);
    margin: 0.5rem 0 0;
}

@keyframes glowing {
    0% {opacity: 0.8}
    50% {opacity: 1}
    100% {opacity: 0.8}
}